# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# XCode & Mac
xcuserdata/
xcshareddata/
*.build/
*.gcda
*.mode1V3
*.pbxuser
.DS_Store

*.libs/
*bin/
bin-stamp
config.log
config.status
lib-stamn
libtool
lib-stamp
Makefile
portaudio-2.0.pc
